body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    /* это чтоб белых полосок не было по бокам */
}
#wrapper {
    max-width: 1360px;
    margin: 0 auto;
}

.heading-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 175px;
}
header {
    background: url(../img/background_zal.png) no-repeat center top / cover;
    /* штоб растянуло во всю ширь и не дублировалось */
    padding-bottom: 210px;
    /* просто наугад написал число */
}

.logo {
    margin-top: 70px;

}

nav {
 
    margin-top: 70px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 45px;
}

.menu li a {
    /* по идее можно и просто написать .menu a, я же ображаюсь только к ссылкам в этом теге */
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.title_first {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    text-align: center;
    margin-top: 150px;
}

h1 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    text-align: center;
    margin-top: 150px;
}
.main-subheader{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
}
.white_box_wrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 45%;
    float: right;
    /* я выравниваю по правому краю саму обертку, а не элементы внутри */
    margin-top: 5%;
    margin-right: 5%;
    padding: 1%;
}

.white_box_header_title {
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    /* потому что у тега р есть автоотступы */
}

#title_why {
    font-size: 40px;
    margin-top: 5%;
    margin-left: 12.5%;
    width: 25%;
    text-align: center;
}

.services {
    margin-top: 120px;
}

#three-pics-wrapper{
    display: inline-flex;
    flex-direction: row;
    margin-top: 5%;
   justify-content: space-around;
    align-items: baseline;
}

#service_item {
    text-align: center;
    width: 25%;
}

.service_item:nth-child(2) {
    margin-left: 90px;
}

.choice {
    font-size: 45px;
    text-align: center;
    margin-top: 60px;
}

.timetable {
    color: white;
    width: 1030px;
    /* пришлось записать ширину контейнера, иначе растягивается по ширине содержимого. Похуй же, наверное */
    margin: auto;
    border-spacing: 0;
    border: 1;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    border-collapse: separate;
    
}

.timetable tr.timetable_header {
    background-color: rgb(89, 207, 57);
    text-decoration-color: white;
    font-size: 24px;
    height: 75px;
}

.timetable th.second_column {
    text-align: left;
}

.timetable td.second_column {
    text-align: left;
}

.timetable tr.grey {
    background-color: grey;
    border-radius: 10%;
    text-align: center;
    height: 75px;
}

.timetable tr.darkgrey {
    background-color: rgb(85, 82, 82);
    text-align: center;
    height: 75px;
}

.timetable th.first_column {
    width: 300px;
}

.timetable th.third_column {
    width: 150px;
}

.after_table_text {
    font-size: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.present {
    margin-top: 70px;
    background: url(../img/background_tickets.png) no-repeat center top / cover;
    padding-bottom: 300px;
}